<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="./css/index.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <%- include("./pratials/header")%>

      <div class="row">
        <%- include("./pratials/bar")%>
          <div class="col-10">
            <table class="table col-12">
              <thead>
                <th colspan="6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll">
                  </div>
                  <div class=" dropdown ml-3 ">
                    <span class=" dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">

                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Delete</a>
                      
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Seen</a>
                    </div>
                  </div>
                </th>
              </thead>
              <tbody>

                <!--  -->
                <% var username="" %>
                <% var style="" %>
                <% mails.forEach(data=>{ %>

                      <%if (data.from==user.email) {%>
                      <%username=data.to%>
                      <%} else {%>
                      <%username=data.from%>
                      <%}%>

                      <%if(username==data.from && data.from !=data.to && data.seen==false){%>
                      <%style="font-weight: bold;" %>
                      <%} else {%>
                      <%style="font-weight: nomal;" %>
                      <%}%>


              <tr style="<%=style%> " class="seen mw-100" data-link="/detail/<%= data._id%>">
                <td class="item ">
                  <div class="form-check">
                    <input class="checkbox form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label" for="defaultCheck1">
                    </label>
                  </div>
                </td>
                <td class="item">
                  <%=username%>
                </td>
                <td class="item">
                  <%= data.title%>
                </td>
                <td class="item">
                  <%= data.content.length>500 ? data.content.substr(0,50 )+'...' :data.content%>
                </td>
                <td class="item">
                  <%= data.createdAt%>
                </td>
                <td><i data-toggle="modal" data-target="#exampleModal1" id="<%= data._id%>"
                    data-id="<%= data._id%>" class="trash fas fa-trash mt-2 mr-2"
                    title="delete"></i></td>
              </tr>
              <% }) %>
              </tbody>
            </table>
          </div>
      </div>
  </div>



  <!-- Modal send mail -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thư mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class=" box col-12" name="email" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="">Title</label>
              <input type="text" class=" box col-12" name="title" id="title" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="">Message</label>
              <textarea class=" big_box col-12" name="content" id="#" rows="10"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="from" value="<%=user.email%>" class="btn  btn_send"><i
              class=" far fa-paper-plane"></i> Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal delete -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Delete email now!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="btn-delete" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <form action="" name="form-delete" method="post"></form>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let id;
      let btnDelete = $('#btn-delete');
      let formDelete = document.forms['form-delete']
      var checkAll = $('#checkAll')
     
        // click vào một hàng, chuyển đến local detail/:id
        $("[data-link]").click(function () {
          window.location.href = $(this).attr("data-link");
          return false;
        });
        //riêng nút trash,có nhiệm vụ khác, nên hủy event đã thiết lập cho nó trước đó 
        $("[data-id]").click(function (e) {
          id = e.target.id;
          console.log(id);
          $('body').off("click", ".trash")
          $("#exampleModal1").modal('show')
          return false;
        });
 
        // hiện modal 
        $("#exampleModal1").on('show.bs.modal')
        //click vào nút delete trên modal để submit một form với action /delete/:id
        $("#btn-delete").click(function () {
          formDelete.action = `/delete/${id}?_method=DELETE`;
          formDelete.submit()
          return false;
        });
        
        checkAll.change(function(){
        console.log("change");
      })
      });
      





  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>